html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #0053D6;
  max-width: 450px;
}

.animated-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* 이미지 간 간격 */
  opacity: 0;
  transform: translateY(20px); /* 초기 위치 아래쪽 */
  animation: fadeInUp 0.5s forwards; /* 애니메이션 실행 */
}

.animated-image {
  width: 36px; /* 이미지 크기 */
  height: auto;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* 아래에서 시작 */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* 최종 위치 */
  }
}
