/* img */

.jangae-korean-image {
  position: absolute;
  top: 0px;
  left: 10px;

  height: 34px;
  width: 34px;
}

.jangae-miral-image {
  position: absolute;
  top: 0px;
  left: 10px;

  height: 25px;
  width: 31px;
}

.jangae-AEUD-image {
  position: absolute;
  top: 2px;
  left: 10px;

  height: 27px;
  width: 35px;
}

/* 컴포넌트 */

.sub-jangae__container {
  display: flex;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; /* #3 */
  width: 90vw;
  height: 64px;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 32px;

  position: relative;
}

.sub-jangae__img {
  padding-top: 16px;
  padding-left: 20px;

  position: relative;

  display: flex;
  align-items: center;
}
